<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<span th:text="${name}"></span>
<input type="button" value="点击" onclick="add()">
<script>
    function add() {
        console.log("add")
        $.ajax({
            url: 'http://localhost:5005/th/add',
            success: function (res) {
                console.log("success:", res);
            },
            error: function (res) {
                console.log("error", res);
            }
        })

    }
</script>

</body>
</html>